FILE_CURATOR_IMAGE=ghcr.io/zaiwuli/file-curator:latest
FILE_CURATOR_PORT=8080
FILE_CURATOR_BASE_PATH=/
FILE_CURATOR_LOG_LEVEL=INFO
FILE_CURATOR_WEBHOOK_URL=
FILE_CURATOR_CONFIG_PATH=./data/config
FILE_CURATOR_SOURCES_PATH=./data/sources
PUID=1000
PGID=1000
TZ=Asia/Shanghai
