FILE_CURATOR_IMAGE=ghcr.io/zaiwuli/file-curator:latest
FILE_CURATOR_PORT=8080
FILE_CURATOR_BASE_PATH=/
FILE_CURATOR_LOG_LEVEL=INFO
FILE_CURATOR_WEBHOOK_URL=
CONFIG_PATH=/volume1/docker/file-curator/config
SOURCES_PATH=/volume1/media
PUID=1026
PGID=100
TZ=Asia/Shanghai
